.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exterior {
  background-color: black;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interior {
  background-color: red;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.caratula {
  background-color: blue;
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
